body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  margin-top: 70px;
}

.headers {
  margin-top: 70px;
  margin-left: 10px;
  display:inline-block
}

.currentpage {
  display:inline-block
}

.pageboys {
  display:inline-block;
  margin-left: 60%;
}

* {
  font-family: 'Barlow Condensed', sans-serif;
}
