body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  margin-top: 100px;
  text-align: center;
}

.headers {
  margin-top: 70px;
  margin-left: 10px;
  font-weight: bold;
  display:inline-block
}

.loading {
  margin-top: 100px;
  margin-left: 40%;
}

.spinner {
  color: white;
}

.credentials {
  text-align: center;
  background-color: white;
  opacity: .92;
  color: black;
  padding: 30px;
  display: inline-block;
  border-style: solid;
  border-color: black, 5px;
  border-radius: 20px 20px;
  margin-top: 100px;
}

.cbox {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.lesbuttons {
  display: flex;
  justify-content: center;
}

.profimg {
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px 20px;
  filter: drop-shadow(5px 5px 5px black)
}

.card{
  filter: drop-shadow(5px 5px 5px black);
}

.card-columns{
  padding-right: 10px;
  padding-left: 10px;
}

.title {
  display: inline-block;
}

.likes{
  height: 40px;
  width: 40px;
  float: right
}

.addcomment{
  margin-left: 70%;
}

.bigboard {
  padding-top: 60px;
  padding-left: 10px;
  display: flex;
  background-color: indianred;
  border-bottom: 2.5px solid black;
}

.backbaby{
  background-color: indianred;
  padding-top: 10px;
}

.searchbois{
  /* display: inline-block; */
  flex: 1;
  padding-top: 20px;
}

.lilfilters{
  display: inline-block;
}

.lenav{
  border-bottom: 2.5px solid black;
}

.currentpage {
  display:inline-block
}

.pageboys {
  display:inline-block;
  margin-left: 30%;
}

.navguys {
  display: inline-block;
  padding: 0 15px;
}

.faveshows {
  display: inline-block;
}

.list {
  transition: background-color 0.3s ease-in-out;
}

.list:hover {
  background-color: lightcyan;
}



* {
  font-family: 'Barlow Condensed', sans-serif;
  color: black
}
