body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
}

.headers {
  margin-top: 70px;
  margin-left: 10px;
  font-weight: bold;
  display:inline-block
}

.loading {
  margin-top: 100px;
  margin-left: 40%;
}

.spinner {
  color: white;
}

.credentials {
  text-align: center;
  background-color: white;
  opacity: .92;
  color: black;
  padding: 30px;
  display: inline-block;
  border-style: solid;
  border-color: black, 5px;
  border-radius: 20px 20px;
  margin-top: 100px;
}

.cbox {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.lesbuttons {
  display: flex;
  justify-content: center;
}

.profimg {
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px 20px;
  filter: drop-shadow(5px 5px 5px black)
}

.card{
  filter: drop-shadow(5px 5px 5px black);
}

.card-columns{
  padding-right: 10px;
  padding-left: 10px;
}

.title {
  float:left
}

.likes{
  height: 40px;
  width: 40px;
  float: right
}

.addcomment{
  float: right
}

.bigboard {
  padding-top: 60px;
  padding-left: 10px;
  display: flex;
  background-color: indianred;
  border-bottom: 2.5px solid black;
  /* attributes below here set searchbar to be fixed */
  position: fixed;
  width: 100%;
  z-index: 100;
}

.showslist{
  /* sets shows container below fixed searchbar */
  padding-top: 140px;
}

.backbaby{
  background-color: indianred;
  padding-top: 10px;
  height: 100%
}

.searchbois{
  /* display: inline-block; */
  flex: 1;
  padding-top: 20px;
}

.lilfilters{
  display: inline-block;
}

.lenav{
  border-bottom: 2.5px solid black;
}

.currentpage {
  display:inline-block
}

.pageboys {
  display:inline-block;
  margin-left: 30%;
}

.navguys {
  display: inline-block;
  padding: 0 15px;
}

.faveshows {
  display: inline-block;
}

.list {
  transition: background-color 0.3s ease-in-out;
}

.list:hover {
  background-color: lightcyan;
}

.card-group{
  border-top: 2.5px solid black;
}

/** Now Playing **/
.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.now-playing__artist {
  margin-bottom: 1em;
}
.now-playing__status {
  margin-bottom: 1em;
}
.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}
.now-playing__side {
  margin-left: 5%;
  width: 45%;
}
/** Progress **/
.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}
.progress__bar {
  background-color: #eee;
  height: 4px;
}



* {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  
}
